html,
body {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 14px;
	color: #343030;
	height: 100%;
    overflow: hidden;
}
a {
	color: inherit;
	cursor: pointer;
}
[v-cloak] {
	display: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1246px;
	margin: 0 auto;
	padding: 0 15px;
}
