@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header,
.main {
	background: #f6f3f3;
}
.header {
	border: 1px solid #e1e1e1;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.menu__list {
	padding: 37px 0 38px 0;
	display: flex;
	margin-left: 96px;
	&-item {
		margin-right: 48px;
	}
}

.search-input {
	&__input {
		padding: 13px 60px 14px 16px;
		border: 1px solid #e1e1e1;
		outline: none;
		&::placeholder {
			color: #9f9f9f;
		}
		&:focus {
			border: 1px solid #b5b5b5;
		}
	}
	&__btn {
		background: $btnColor;
		border: none;
		color: white;
		padding: 13px 36px 14px 36px;
		cursor: pointer;
	}
}

.art {
	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 36px;
		margin-top: 45px;
		margin-bottom: 39px;
	}
	&__card {
		height: 328px;
		width: 280px;
		border: 1px solid #e1e1e1;
		&--disabled {
			pointer-events: none;
			background: white;
			opacity: 0.5;
		}
		img {
			object-fit: contain;
			width: 100%;
		}
		&-title {
			font-size: 18px;
			line-height: 27px;
			margin-top: 20px;
			margin-bottom: 22px;
			padding-left: 24px;
			padding-right: 36px;
		}
		&-buy {
			display: flex;
			justify-content: space-between;
			margin: 0 24px 0 24px;
			align-items: center;
		}
		&-price {
			font-size: 16px;
			&--last {
				font-size: 14px;
				font-weight: 300;
				color: #a0a0a0;
				span {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						height: 0.5px;
						width: 100%;
						background: #a0a0a0;
						top: 51%;
						left: 0;
						right: 0;
					}
				}
			}
		}

		&-btn {
			padding: 14px 30px 13px 31px;
			outline: none;
			border: none;
			background: $btnColor;
			color: white;
			cursor: pointer;
		}
	}
}

.footer {
	background: #eceaea;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__list-items {
		padding: 38px 0 37px 0;
	}
	&__info {
		display: flex;

		&-item {
			display: flex;
			align-items: center;
			margin-right: 54px;
			&:last-child {
				margin-right: 0;
			}
			img {
				margin-right: 9px;
			}
		}
	}
}
